.aproach {
  position: relative;
  /* left: -115.5px; */
  box-sizing: border-box;
  width: 1431px;
  padding-left: 115.5px;
  padding-right: 115.5px;
  padding-top: 50px;
  padding-bottom: 90px;
  margin: 0 auto;
}
.aproach .aprochContent .topSection {
  text-align: center;
}
.aproach .aprochContent .topSection h5 {
  font-family: "Nunito", sans-serif;
  color: #ccc;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #b0b6bf;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}
.aproach .aprochContent .topSection h1 {
  font-family: Nunito, sans-serif;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0;
  color: #0c121d;
  text-transform: none;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 20px;
}
* .aproach .aprochContent .topSection h1 span {
  color: var(--accent2);
  font-family: Nunito, sans-serif;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 800;
  font-style: normal;
}
.aproach .aprochContent .topSection p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0;
  color: #6d7a8c;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
}
.aproach .aprochContent .bottomSection {
  margin-top: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aproach .aprochContent .bottomSection .card {
  text-align: center;
  position: relative;
}
.aproach .aprochContent .bottomSection .card:first-child::after,
.aproach .aprochContent .bottomSection .card:nth-child(2)::after {
  content: "";
  top: 55px;
  z-index: 0;
  width: 192px;
  height: 15px;
  display: block;
  position: absolute;
  background: url("../../images/spacing-dots.png") no-repeat 0 center;
}
.aproach .aprochContent .bottomSection .card:first-child::after {
  right: -30%;
}
.aproach .aprochContent .bottomSection .card:nth-child(2)::after {
  right: -17%;
}
.aproach .aprochContent .bottomSection .card .cartTitle,
.aproach .aprochContent .bottomSection .card .cardDesc,
.aproach .aprochContent .bottomSection .card .cardImg {
  text-align: center;
}
.aproach .aprochContent .bottomSection .card .cardImg {
  font-size: 60px;
  margin-bottom: 35px;
  width: 110px;
  height: 110px;
  color: #fff;
  line-height: 110px;
  display: inline-block;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 0 24px 0 rgb(26 47 106 / 13%);
}
.aproach .aprochContent .bottomSection .card .cardImg .num {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #000;
  bottom: -10px;
  right: -10px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 24px 0 rgb(26 47 106 / 13%);
}
.aproach .aprochContent .bottomSection .card .cardImg .num span {
  font-size: 20px;
}

.aproach .aprochContent .bottomSection .card .cartTitle h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 0;
  color: #0c121d;
  text-transform: none;
}
.aproach .aprochContent .bottomSection .card .cardDesc {
  margin-top: 5px;
  padding: 0 15px;
}
.aproach .aprochContent .bottomSection .card .cardDesc p {
  font-size: 16px;
  line-height: 1.6;
  color: #6d7a8c;
  text-transform: none;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .aproach .aprochContent .bottomSection {
    margin-top: 60px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .aproach .aprochContent .bottomSection .card:first-child::after,
  .aproach .aprochContent .bottomSection .card:nth-child(2)::after {
    display: none;
  }
  .aproach .aprochContent .bottomSection .card {
    text-align: center;
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: 35px !important;
  }
  .aproach {
    position: relative;
    box-sizing: border-box;
    padding-left: 115.5px;
    padding-right: 115.5px;
    padding-top: 50px;
    padding-bottom: 90px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .aproach .aprochContent .bottomSection .card {
    width: 100%;
  }
  .aproach {
    padding-left: 70px;
    padding-right: 70px;
  }
  .aproach .aprochContent .topSection h1,
  .aproach .aprochContent .topSection h1 span {
    font-size: 35px;
    line-height: 45px;
  }
}
@media screen and (max-width: 575px) {
  .aproach {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 40px;
  }
  .aproach .aprochContent .topSection h1,
  .aproach .aprochContent .topSection h1 span {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
  }
}
