.features {
  position: relative;
  background-image: url("../../images/hr.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.features .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(231 134 22 / 80%);
  z-index: 0;
}
.featuresContent {
  margin-bottom: 50px;
}
.cardFeature {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.cardFeature .card {
  background-color: var(--baack-color-light);
  flex: 0.3;
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-top: -115px;
}

.cardFeature .card .cardImg {
  text-align: center;
}
.cardFeature .card h4 {
  font-size: 25px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  padding-top: 30px;
  color: #0f0f0fc7;
}

.cardFeature .card p {
  color: #6d7a8c;
}
.cardFeature .card button {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  bottom: -55px;
  right: -45px;
  background-color: #000;
  border: none;
  cursor: pointer;
}
.cardFeature .card button > svg {
  position: absolute;
  font-size: 40px;
  top: 10px;
  left: 15px;
  color: var(--text-dark);
}
.featurQuote {
  position: relative;
  z-index: 0;
}
.featurQuote .qoute {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 15px 0;
}
.featurQuote .qoute::after,
.featurQuote .qoute::before {
  content: "";
  width: 50%;
  height: 1px;
  left: 0;
  position: absolute;
  background-color: var(--baack-color-light);
}
.featurQuote .qoute::after {
  bottom: 10px;
  transform: translate(50%);
}
.featurQuote .qoute::before {
  top: 0;
  transform: translate(50%);
}

.featurQuote .qoute > svg {
  font-size: 100px;
}
.featurQuote .qoute .qoute_content p {
  font-size: 18px;
  letter-spacing: 0.9px;
  line-height: 1.6;
}
.featurQuote .qoute .qoute_content span {
  position: relative;
  margin-left: 50px;
}
.featurQuote .qoute .qoute_content span::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--baack-color-light);
  bottom: 8px;
  left: -45px;
}
@media screen and (max-width: 768px) {
  .featuresContent {
    width: 70%;
    margin: 0 auto;
  }
  .cardFeature {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
  }
}
@media screen and (max-width: 992px) {
  .cardFeature .card {
    margin: 10px 0;
  }
}
@media screen and (max-width: 425px) {
  .featuresContent {
    width: 95%;
    margin: 0 auto;
  }
}
